@import "tailwindcss";

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* Disable scrolling on the root elements */
  position: fixed;
  /* Lock value to viewport */
  background-color: #000000;
  /* Force black background */
  overscroll-behavior: none;
  /* Disable elastic bounce */
  -webkit-overflow-scrolling: touch;
}

/* Ensure #__next or root div also fills screen */
#__next,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


body {
  color: var(--foreground);
  background: #000000;
  background-color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  overscroll-behavior-y: none;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}